{% extends 'base.html' %}
{% load static %}
{% block content %}
   <body>

      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">About Us - Luscious Cafe</div>
                     <p class="about_text">At Luscious Cafe, we believe that every moment deserves to be savored. From the first sip of your morning coffee to the last bite of our delectable desserts, we're dedicated to creating experiences that delight the senses and nourish the soul.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>
               </div>
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">Our Story</div>
                     <p class="about_text">Founded in 2018, Luscious Cafe began as a dream to provide a sanctuary where people could escape the hustle and bustle of everyday life and indulge in the simple pleasures of good food and great company. What started as a humble cafe has blossomed into a beloved community hub, cherished by locals and visitors alike.</p>
                  
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">A Culinary Journey</div>
                     <p class="about_text">At the heart of Luscious Cafe is our passion for flavor and innovation. We draw inspiration from global cuisines and local ingredients to craft a menu that celebrates diversity and creativity. From our artisanal coffees and freshly baked pastries to our gourmet sandwiches and wholesome salads, each dish is a culinary masterpiece designed to tantalize your taste buds.</p>
                     
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">Embrasing sustainability</div>
                     <p class="about_text">We're committed to making a positive impact on both our community and the environment. That's why we prioritize sustainability in everything we do, from sourcing ethically grown coffee beans to reducing waste and supporting local farmers. By choosing Luscious Cafe, you're not just enjoying delicious food – you're also contributing to a more sustainable future.</p>
                     
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">Our Promise To You </div>
                     <p class="about_text">At Luscious Cafe, hospitality is more than just a job – it's our passion. Our dedicated team of baristas, chefs, and servers is committed to providing exceptional service and ensuring that every visit leaves you feeling pampered and satisfied. Whether you're stopping by for a quick caffeine fix or lingering over a leisurely brunch, expect nothing less than perfection from our team.Visit us today and experience the luscious flavors and warm hospitality that define who we are.</p>
                     
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding margin_top90">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">About</h3>
                  <p class="footer_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Menu</h3>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Useful Link</h1>
                  <p class="dummy_text">Adipiscing Elit, sed do Eiusmod Tempor incididunt </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Contact Us</h1>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : Loram Ipusm</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +01 1234567890</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : demo@gmail.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>     
   </body>
</html>
{% endblock %}